<div ng-app="app">
    <div ng-controller="ctrl">
        <div ng-init="urlsSize = <%= @urls_size %>"></div>
        <div style="height: 100%; margin: 0px">
            <div style="top: 0px; height: 100%; width: 50%; box-sizing: border-box;">
                <h1 style="margin-top: 0px"><%= @site %></h1>
                <p><a href="https://bitbucket.org/snapsaver/<%= @site %>/commits/all">https://bitbucket.org/snapsaver/<%= @site %>/commits/all</a></p>
            </div>

            <div>
                <textarea ng-model="urls" ng-init="urls = '<%= @urls %>'" placeholder="URLリスト"></textarea>
                <button ng-click="save();">リスト保存</button>
            </div>

            <div>
                <textarea ng-model="commit_message" placeholder="コミットメッセージ"></textarea>
                <button ng-click="shoot(0);">スナップショットを取る</button>
            </div>

            <div>
                <form action="/delete_session" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
                    <input type="submit" value="ログオフ"></input>
                </form>
            </div>
        </div>

        <div style="border: solid 0.2rem #000; position: absolute; left: 50%; top: 0px; width: 50%; height: 100%; overflow: auto; box-sizing: border-box">
            <div ng-repeat="log in logs">
                <a    ng-if=" log.isURL" ng-style="log.isError ? {color: 'red'} : {}" href="{{log.item}}">[{{log.time}}] {{log.item}}</a>
                <span ng-if="!log.isURL" ng-style="log.isError ? {color: 'red'} : {}"                    >[{{log.time}}] {{log.item}}</span>
            </div>
        </div>
    </div>
</div>
